:root {
    --lblue: #1D64F2;
    --mblue: #1243A6;
    --dblue: #011c40;
    --cream: #F2EED8;
    --orange: #f24822;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--dblue);
}

h1 {
    color: white;
    text-align: center;
}
#map { height: 500px;
       width: 750px;
        color: black;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.center {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}