{% extends "index.html" %}
{%  block title %}Health Indicator{% endblock %}
{% block header %}{{ state_name }} {% endblock %}

{% block cards %}
        <div class="card-group col d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 mx-auto">
      <div class="card-body">
        <h5 class="card-title">GDP</h5>
        <p class="card-text">GDP: {{ gdp }} {{ unit }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 mx-auto">
      <div class="card-body">
        <h5 class="card-title">Unemployment Rate</h5>
        <p class="card-text"> Unemployment Rate: {{ unr }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Median Household Income</h5>
        <p class="card-text"> Median Household Income: {{ med }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
    </div>
{% endblock %}
{% block content %}
    <div class="center">
        <img src="{{ state_img }}" alt="Image of {{ state_name }}"></img>
    </div>
{% endblock %}
{% block graph %}
    {{graph}}
    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        let ctx = document.getElementById("lineChart").getContext("2d");
        let lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Data points",
                        data: {{ values | safe }},
                        fill: true,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
{% endblock %}